body {
    background: linear-gradient(to right, #4e73df, #1cc88a);
    font-size: 1rem;
}

.form-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 0.8rem;
}

@media (769px - 1024px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 1.2rem;
    }
}